extends ../layouts/main.pug

block globals  
    -  const title = "About Our Boring Lab - No humor here"

block content   
    h1#header= title

    p.intro-text.second-class(data-attr= "a value I guess") You can always contact Allie via slack. Bethany however, never wants to be contacted...she's in witness protection. It's really in everyone's best interest-- safety first, y'know.